<section class="welcome-Section">
  <div class="welcome-Container">
    <div class="welcome-Img-Container">
      <img class="invImage" alt="Inventory pic" src="/img/home/h037ib28.png" />
    </div>
    <div class="welcome-Msg-Container">
      <div class="msg-Panel">
        <i>With more control you can achieve greater effencency.</i>
        <h1>Inventory Control</h1>
        <p>Welcome to our Inventory control web application. Here we allow you to have more control over what's listed in inventory.
           Use the above menu to quickly head over to our inventory page. You're also welcome to view the rest of the site. You can use
           the Contact menu option if you wish to get in touch with us.
        </p>
        <div class="btn-Contact">Contact Us</div>
      </div>
    </div>
  </div>
</section>

