<div class="header-Container">
  <div class="header-Left">
    <div class="button-Container">
      <nav>
        <input id="col-Toggle" type="checkbox" title="Collapse Button" />
        <label for="col-Toggle" class="hamburger-icon">
          <span class="ham-1"></span>
          <span class="ham-2"></span>
          <span class="ham-3"></span>
        </label>
        <div class="ham-Menu">
          <div class="hamMenu-Item"><a routerLink="/">Home</a><br /></div>
          <div class="hamMenu-Item"><a routerLink="/inventory">Inventory</a><br /></div>
          <div class="hamMenu-Item"><a href="#">Notifications</a><br /></div>
        </div>
      </nav>
    </div>
    <div class="logo-Container">
      <a routerLink="/"><h1 class="logo-Heading">{{ title() }}</h1></a>
    </div>
    <div class="pageLink">
      <a routerLink="/inventory">Inventory</a>
    </div>
    <div class="pageLink">
      <a routerLink="/contact">Contact</a>
    </div>

  </div>
  <div class="header-Right">
    <div class="search-Container">
      <div class="searchInput-Container">
        <!--<label for="searchInput"><h3>Temp:</h3></label>-->
        <input type="text" name="search" class="searchInput" placeholder="Search" required />
        <button class="btnImg-Container" title="Search" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="margin-top: 5px;">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
